#ExpiresActive On
<FilesMatch "\.(gif|jpg|jpeg|png|css|js|ico|ttf|ttc|otf|eot|woff|woff2|font.css)$">
#ExpiresDefault "access plus 1 month"
#Header append Cache-Control "public"
</FilesMatch>



Options -Indexes

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(png|jpg|js|css|jpeg|html|htm)$

RewriteRule ^(.*)$ index.php?send=$1 [L,QSA]